<mat-card>

    <mat-divider></mat-divider>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="t-20">
                    <h3>Search Employee</h3>
                    <button type="button" class="btn btn-info float-right t-20 fs-12" routerLink="/dashboard/create">Add
                        Employee </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <form>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="firstName">Name</label>
                        <input type="text" class="form-control pd-3" id="firstName" name="Name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="mobileNumber">Mobile No</label>
                        <input type="number" class="form-control pd-3" id="mobileNumber" name="mobileNo"
                            placeholder=" Number">
                    </div>
                    <button type="button" class="btn btn-success fs-12 mt26 mb26 mr10">Search</button>
                    <button type="reset" class="btn btn-danger fs-12 mt26 mb26">Clear</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Email id</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <!--  firstName, lastName, email, address, country, city, gender;

	dateOfBirth;
	mobile;
	
	aws,devOps, fullStackDeveloper, middleware, webServices, qaAutomation; -->

            <tbody>
                <tr>
                    <!-- <td scope="col"> {{e.firstName}} </td> -->
                    <td scope="col"> </td>
                    <td scope="col"></td>
                    <td scope="col">Email id</td>
                    <td scope="col">Gender</td>
                    <td scope="col">Birth Date</td>
                    <td scope="col">Country</td>
                    <td scope="col">City</td>
                    <td scope="col">
                        <div>
                            <button type="button" class="btn btn-success fs-12 mr5 ">Edit</button>
                            <button type="button" class="btn btn-danger fs-12 mr5 ">Delete</button>
                        </div>
                    </td>
                </tr>

        <tr>
            <td scope="col">First Name</td>
            <td scope="col">First Name</td>
            <td scope="col">Mobile No.</td>
            <td scope="col">Email id</td>
            <td scope="col">Gender</td>
            <td scope="col">Birth Date</td>
            <td scope="col">Country</td>
            <td scope="col">City</td>
            <td scope="col">
                <button type="button" class="btn btn-success fs-12">Edit</button>
                <button type="button" class="btn btn-danger fs-12">Delete</button>
            </td>
        </tr>
        <tr>
            <td scope="col">First Name</td>
            <td scope="col">First Name</td>
            <td scope="col">Mobile No.</td>
            <td scope="col">Email id</td>
            <td scope="col">Gender</td>
            <td scope="col">Birth Date</td>
            <td scope="col">Country</td>
            <td scope="col">City</td>
            <td scope="col">
                <button type="button" class="btn btn-success fs-12">Edit</button>
                <button type="button" class="btn btn-danger fs-12">Delete</button>
            </td>
        </tr>

        </tbody>
    </table>
</mat-card>